## Copy this over to integration-tests/local-test.properties and uncomment and fill in the values

#WEB3J_ALICE_PRIVKEY=
#WEB3J_ALICE_PUBKEY=

## Defaults to true
#WEB3J_BENCHMARK_TESTING_ON=

#WEB3J_BOB_PRIVKEY=
#WEB3J_BOB_PUBKEY=

## Defaults to 1
#WEB3J_FAST_RAW_TRANSACTION_MANAGER_IT_COUNT=

## Defaults to HttpService.DEFAULT_URL (http://localhost:8545)
#WEB3J_TEST_ROPSTEN_URL=

## Optional
#WEB3J_TEST_KOVAN_PASSWORD=

## Defaults to WEB3J_TEST_ROPSTEN_URL
#WEB3J_TEST_KOVAN_URL=

## Optional
#WEB3J_TEST_KOVAN_USERNAME=

## Optional
#WEB3J_TEST_RINKEBY_PASSWORD=

## Defaults to WEB3J_TEST_ROPSTEN_URL
#WEB3J_TEST_RINKEBY_URL=

## Optional
#WEB3J_TEST_RINKEBY_USERNAME=