## Copy this over to integration-tests/local-test.properties and uncomment and fill in the values

#WEB3J_ALICE_PRIVKEY=
#WEB3J_ALICE_PUBKEY=
#WEB3J_BENCHMARK_TESTING_ON=
#WEB3J_BOB_PRIVKEY=
#WEB3J_BOB_PUBKEY=
#WEB3J_FAST_RAW_TRANSACTION_MANAGER_IT_COUNT=
#WEB3J_TEST_ROPSTEN_URL=
#WEB3J_TEST_KOVAN_URL=
#WEB3J_TEST_RINKEBY_URL=